---
layout: default
---
<article class="post">
  <div class="p-header">
  <img src="{{ page.image | default: '/assets/images/default-image.jpg' | relative_url }}" alt="Image for {{ page.title }}" class="p-image"/>
  <div>
  <h2 class="p-title">{{ page.title }}</h2>
  <div class="infos">
    <p class="p-date">Publié le {{ page.date | date: "%d/%m/%Y" }}</p>
    <p class="p-author"><a href="{{ "/blog" | relative_url }}?author={{page.author | slugize}}#title" class="author">
                {{ page.author }}
            </a></p>
    <p class="p-tags">
      {%- if page.tags -%}
        {% for tag in page.tags %}
            <a href="{{ "/blog" | relative_url }}?tag={{tag | slugize}}#title" class="tag">
                #{{ tag }}
            </a>
        {% endfor %}
      {% endif %}
    </p>
  </div>
  </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</article>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const container = document.querySelector(".post-content");
  if (!container) return;

  container.innerHTML = container.innerHTML
    .replace(/<br\s*\/?>/gi, "</p><p class='br'>");

  if (!container.innerHTML.startsWith("<p>")) {
    container.innerHTML = "<p>" + container.innerHTML;
  }
  if (!container.innerHTML.endsWith("</p>")) {
    container.innerHTML = container.innerHTML + "</p>";
  }
});
</script>
